.demo-pages {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.demo-pages > div {
  border-radius: 10%;
  background-color: #eee;
  cursor: pointer;
  display: inline-block;
  margin-right: 15px;
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
}
.demo-pages > div:hover {
  background-color: #fff;
  color: #111;
  text-decoration: underline;
}
.demo-pages > div:last-child {
  margin-right: 0px;
}
.demo-pages.off {
  background-color: #eee;
  color: #111;
}
.demo-pages.on {
  background-color: #444;
  color: #fff;
}
.demo-pages.on:hover {
  background-color: #444;
  color: #fff;
}
.demo-panel {
    color:#111;
    display:flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:auto;
    margin-bottom: 15px;
    padding:10px;
    white-space:nowrap;
}
.demo-panel > div {
    display: inline-block;
    padding:5px;
    width: 50%;
}
.demo-panel > div:last-child {
    text-align:right;    
}
.zoom {
  align-items: center;
  font-family:monospace;
  justify-content: center;
}
.zoom > div {
  display: inline-block;
  margin: 0 3px 0 3px;
}
.zoom > div:nth-child(2), .zoom > div:nth-child(3), .zoom > div:last-child {
  

  color:#fff;
  font-weight:bold;
  margin:8px;
  text-align:center;
  vertical-align:middle;
  cursor:pointer;
}
.zoom > div:nth-child(2) {
  background-color:#111;
  border-radius: 50%;
  font-size:22px;
  line-height:22px;
  width:22px;
  height:22px;
}
.zoom > div:nth-child(3) {
  border-radius: 0%;
  color:#000;
  font-size:20px;
  font-weight:bolder;

  border-color:#BBB;
  padding: 2px;
}
.zoom > div:last-child {
  border-radius: 50%;
  background-color:#111;
  font-size:30px;
  line-height:30px;
  width:30px;
  height:30px;
}
@media screen and ( max-width: 800px ) {
  .ctrl-panel {
    font-size: 0.8em;
  }
}